/* all css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.clr {
    clear: both;
}

.mr {
    margin-right: 0 !important;
}



.container {
    width: 994px;
    margin: 0 auto;
}

/* all css end  */

/* header part start  */
#header {
    background: rgb(54, 71, 117);
    overflow: hidden;
    position: fixed;
    width: 100%;

}

.logo {
    float: left;
    width: 130px;
    text-align: center;
    padding-top: 25px;

}

.tag-line {
    float: left;
    width: 530px;
    padding-top: 28px;
    color: gainsboro;

}

.menu {
    float: left;
    width: 334px;
    padding: 10px 0 5px;
}

.menu ul li a {
    float: left;
    padding: 12px 0 12px 15px;
    color: white;
    font-size: 16px;
}

/* header part end  */

/* Bannar part start */
#banner {
    background: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner_part {
    padding-top: 81px;
}

.banner_text h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 15px;
}

.banner_text h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;

}

.banner_text p {
    font-size: 20px;
    color: whitesmoke;
    padding-bottom: 15px;

}


.banner_text {
    float: left;
    width: 736px;
    padding: 150px;
}

.icon {
    font-size: 25px;
    color: gainsboro
}

.mobile_part {
    float: left;
    width: 258px;
    padding-top: 30px;

}



/* Bannar part end */